<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../Resources/bootstrap.css">

    <title>Document</title>

</head>

<body>

    <section class="container">
        <div class="row mt-5">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h6>Hello Bootstrap!</h6>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-6 is 50%</h6>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-1">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-1 is 8.3333333%</h6>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-2 is 16.666666667%</h6>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-3 is 25%</h6>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-4 is 33.333333333%</h6>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-5 is 41.666666667%</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-6 is 50%</h6>
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-7 is 58.3333333333%</h6>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-8 is 66.6666666667%</h6>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-9 is 75%</h6>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-10 is 83.33333333%</h6>
                    </div>
                </div>
            </div>

            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-11 is 91.666666667%</h6>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h6>The width of col-12 is 100%</h6>
                    </div>
                </div>
            </div>
        </div>


        <form action="" method="post">
            <div class="form-group col-6">
                <label>Firstname</label>
                <input type="text" class="form-control">
            </div>
        </form>

    </section>



    <script src="../resources/bootstrap.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script> -->

</body>

</html>