<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Resources/19-2-2023/CSS/bootstrap.css">
</head>

<body>
    <section class="container-fluid">
        <div class="my-3">
            <h1>Bootstrap Backgrounds</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card bg-white mt-3">
                    <div class="card-body">
                        <h6>bg-white</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-light mt-3">
                    <div class="card-body">
                        <h6>bg-light</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-info mt-3">
                    <div class="card-body">
                        <h6>bg-info</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-primary mt-3">
                    <div class="card-body">
                        <h6>bg-primary</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-danger mt-3">
                    <div class="card-body">
                        <h6>bg-danger</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-warning mt-3">
                    <div class="card-body">
                        <h6>bg-warning</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-dark mt-3">
                    <div class="card-body">
                        <h6 class="text-bg-dark">bg-dark</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-secondary mt-3">
                    <div class="card-body">
                        <h6>bg-secondary</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-success mt-3">
                    <div class="card-body">
                        <h6>bg-success</h6>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid">
        <div class="my-3">
            <h1>Bootstrap Buttons</h1>
        </div>
        <div class="my-3">
            <h3 class="text-info">
                Full Buttons
            </h3>
        </div>
        <div class="my-3">
            <h5 class="text-info">Small Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-white">

                    btn-sm-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-light">

                    btn-sm-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-info">

                    btn-sm-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-primary">

                    btn-sm-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-danger">

                    btn-sm-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-warning">

                    btn-sm-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-dark">

                    btn-sm-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-secondary">

                    btn-sm-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-success">

                    btn-sm-success

                </button>
            </div>
        </div>
        <div class="my-3">
            <h5 class="text-info">Medium Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-white">

                    btn-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-light">

                    btn-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-info">

                    btn-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-primary">

                    btn-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-danger">

                    btn-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-warning">

                    btn-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-dark">

                    btn-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-secondary">

                    btn-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-success">

                    btn-success

                </button>
            </div>
        </div>
        <div class="my-3">
            <h5 class="text-info">Large Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-white">

                    btn-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-light">

                    btn-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-info">

                    btn-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-primary">

                    btn-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-danger">

                    btn-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-warning">

                    btn-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-dark">

                    btn-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-secondary">

                    btn-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-success">

                    btn-success

                </button>
            </div>
        </div>
        <div class="my-3">
            <h3 class="text-info">
                Outline Buttons
            </h3>
        </div>
        <div class="my-3">
            <h5 class="text-info">Small Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-white">

                    btn-sm-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-light">

                    btn-sm-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-info">

                    btn-sm-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-primary">

                    btn-sm-outline-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-danger">

                    btn-sm-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-warning">

                    btn-sm-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-dark">

                    btn-sm-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-secondary">

                    btn-sm-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-success">

                    btn-sm-success

                </button>
            </div>
        </div>
        <div class="my-3">
            <h5 class="text-info">Medium Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-white">

                    btn-outline-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-light">

                    btn-outline-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-info">

                    btn-outline-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-primary">

                    btn-outline-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-danger">

                    btn-outline-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-warning">

                    btn-outline-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-dark">

                    btn-outline-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-secondary">

                    btn-outline-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn w-100 mt-3 btn-outline-success">

                    btn-success

                </button>
            </div>
        </div>
        <div class="my-3">
            <h5 class="text-info">Large Buttons</h5>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-white">

                    btn-outline-white

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-light">

                    btn-outline-light

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-info">

                    btn-outline-info

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-primary">

                    btn-primary

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-danger">

                    btn-outline-danger

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-warning">

                    btn-outline-warning

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-dark">

                    btn-outline-dark

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-secondary">

                    btn-outline-secondary

                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-lg w-100 mt-3 btn-outline-success">

                    btn-success

                </button>
            </div>
        </div>
    </section>
    <script src="../../Resources/19-2-2023/JS/bootstrap.js"></script>
</body>

</html>