@import url(fonts.css);

body {
  font-family: inter-regular;
}

.faq-navbar {
  margin: 0 !important;
}

/* Admin Login Form */
.faq-admin__RegisterForm {
  margin: 0rem 7rem;
}

.faq-admin__form-heading h3 {
  font-family: inter-light;
}

.spinner-title h5 {
  font-family: inter-light;
}

.faq-guest__form-input img {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 0.5rem 0.5rem;
}

.faq-guest__form-input input {
  padding-left: 2rem;
}

.btn-success {
  background-color: #58b000;
  border-color: #58b000;
}

.faq-admin__question-heading {
  font-size: 18px;
}

.faq-admin__question h6 {
  font-family: inter-semi-bold;
}

.faq-admin__side-navbar {
  margin: 2.9rem 9rem;
  width: 18% !important;
}
.faq-admin__space-items {
  margin: 3rem 9rem;
}

.faq-quest__navbar a {
  text-decoration: none !important;
  color: rgb(149, 149, 149);
}

.faq-quest__navbar a:hover {
  text-decoration: underline !important;
  color: rgb(0, 137, 222);
}

.faq-admin__topic {
  margin: 5rem 9rem;
}

.faq-admin__side-navbar a {
  text-decoration: none !important;
  color: black;
}

.faq-admin__side-navbar a:hover {
  text-decoration: underline !important;
  color: rgb(0, 137, 222);
}

.faq-admin__form-footer a {
  text-decoration: none;
  color: #6c757d;
}

.faq-admin__form-footer a:hover {
  color: #0d6efd;
}

.faq-admin__register-button a {
  text-decoration: none;
  color: #000000;
}
.faq-admin__register-button a:hover {
  text-decoration: none;
  color: #0d6efd;
}

.faq-admin__register-button img {
  width: 18px;
  height: 18px;
  margin: 0 4px;
}

.faq-admin__form-heading img {
  width: 18px;
  height: 18px;
  margin: -5px 4px 0px;
}

/*Error Page*/
.faq-error__body {
  margin: 5rem 0rem;
}

.faq-error__heading h3 {
  font-family: inter-bold;
  font-size: 1.5rem;
}
.faq-error__message emp {
  color: #6c757d;
}

.faq-error__options {
  margin: 5rem 0;
}

.faq-error__options h5 {
  font-family: inter-semi-bold;
}
