@font-face {
  font-family: quicksand-medium;
  src: url(../Fonts/Quicksand/Quicksand-Medium.ttf);
}

@font-face {
  font-family: montserrat-medium;
  src: url(../Fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(../Fonts/Inter/Inter-Regular.ttf);
}
