@import url("fonts.css");

:root {
  --default-font-size: 1rem;
  --default-small-heading-font-size: 2.5rem;
  --default-medium-heading-font-size: 3rem;
  --default-big-heading-font-size: 4rem;
  --default-logo-width: 260px;
  --default-logo-height: 76px;
  --default-navbar-font-family: quicksand-medium;
  --default-heading-font-family: quicksand-medium;
  --default-paragraph-font-family: inter-regular;
  --default-heading-color: #0071bc;
  --default-footer-font-color: rgb(129, 129, 129);
  --default-footer-font-color-hover: rgb(0, 119, 255);
  --default-link-text-decoration: none;
  --default-small-width: 20px;
  --default-medium-width: 100px;
  --default-header-background-image: url("../../assets/images/png/HeaderBanner.png");
  --default-header-background-gradient: linear-gradient(
    60deg,
    rgba(208, 201, 208, 0.188),
    rgba(109, 109, 227, 0.182),
    rgba(61, 14, 102, 0.16),
    rgba(194, 188, 194, 0.138)
  );
}

.teambp__formFooter a {
  text-decoration: var(--default-link-text-decoration);
  color: var(--default-footer-font-color);
}
.teambp__formFooter a:hover {
  text-decoration: underline;
  color: var(--default-footer-font-color-hover);
}

.text-decoration-none {
  text-decoration: var(--default-link-text-decoration);
}

.small {
  max-width: var(--default-small-width);
}

.medium {
  max-width: var(--default-medium-width);
}

.teambp__header {
  background-image: var(--default-header-background-gradient),
    var(--default-header-background-image);
  background-repeat: no-repeat;
}

.teambp__header-content {
  display: flex;
  flex-direction: column;
  margin: 8rem 4rem;
  height: 60vh;
}

.teambp__logo {
  width: var(--default-logo-width);
  height: var(--default-logo-height);
}

.teambp__heading {
  color: var(--default-heading-color);
  font-family: var(--default-heading-font-family);
}

.teambp__paragraph {
  font-family: var(--default-paragraph-font-family) !important;
}

.teambp__navbar-nav .nav-item a {
  font-family: var(--default-navbar-font-family);
}
