html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgba(204, 204, 204, 0.445);
  font-size: 15px !important;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 15%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #ffffff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 2rem;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: none;
}

.dropdown-body {
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 2px;
  z-index: 1;
  display: none;
}
.border-radius-0 {
  border-radius: 0 !important;
}

.big-font {
  font-size: 6vw;
}
.bg-admin {
  background-color: rgba(55, 60, 64, 0.478);
  border-top: 2px solid orange;
}

.icon-sm {
  max-width: 20px;
}

.icon-v-sm {
  max-width: 10px;
}

.icon-x-md {
  max-width: 120px;
}

.icon {
  max-width: 40px;
}
.icon-lg {
  max-width: 250px;
}

.title {
  max-width: 150px;
}
.title-sm {
  max-width: 90px;
}

.font-sm {
  font-size: 10px;
}
.font-sm-md {
  font-size: 13px;
}

.transform {
  transform: rotate(90deg);
}

.transform-south {
  transform: rotate(180deg);
  transition: ease-out(1s);
}

/* The navigation menu links */
.sidenav a {
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  text-decoration: none;
  font-size: 15px;
  color: darkslategray;
  display: block;
  transition: 0.3s;
  cursor: default;
}
.font-itallic {
  font-style: italic !important;
}

.font-oblique {
  font-style: oblique !important;
}

.link-identity:hover {
  background-color: lightsalmon;
}

.link-identity a:hover {
  cursor: pointer;
}

a small {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .fix-margin {
    margin-left: 0rem;
    overflow: hidden;
  }

  .sidenav {
    display: none;
  }
}

.textarea {
  width: 100%;
  padding-left: 5px !important;
  height: 9rem !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: orange;
}

.fix-banner-content-margin {
  margin-left: 7rem;
}

.icon-md-sm {
  max-width: 50px;
}

.icon-md {
  max-width: 90px;
}

.banner-link {
  color: black;
}

.banner-link:hover {
  color: orange;
}

.w-95 {
  width: 95% !important;
}

.mt-md {
  margin-top: 3rem;
}
.card {
  background-color: rgb(240, 240, 240);
}
.medium-dark {
  background-color: rgba(0, 0, 0, 0.356) !important;
  z-index: 1;
  display: none;
}
.action-btn {
  z-index: 1;
}
/* .products-background {
  background: url("../../../../gallery/men/waldemar-brandt-UP9DtTjRYpI-unsplash.jpg");
  clip-path: ellipse(66% 100% at 66% 0%);
} */
.text-fair-orange {
  color: rgb(97, 52, 0);
}
.resized {
  max-width: 200px;
}
.admin-btn {
  color: rgb(97, 52, 0) !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(243, 186, 112);
  border-radius: 5px;
  cursor: pointer;
}
.admin-hover:hover {
  box-shadow: 1px 1px 2px rgb(53, 52, 52);
  transition: 0.2s;
}
.admin-heading {
  color: rgb(151, 81, 0);
  /* font-size: 20px; */
}
.admin-background {
  border-top: 6px solid rgb(253, 165, 3);
  background-color: inherit;
}
.view-hover:hover {
  text-decoration: underline !important;
  transition: 0.2s all !important;
}
.admin-text {
  color: rgba(255, 183, 88, 0.795);
}
.btn-warning {
  background-color: rgba(255, 183, 88, 0.795);
  border: none;
}
.icon-xl {
  max-width: 200px;
}
.icon-xs {
  max-width: 15px;
}
.rounded-admin {
  border-radius: 45%;
  z-index: 1;
}
.dark-right-border {
  border-right: 1px solid black;
}
.mt-wide {
  margin-top: 12rem !important;
}

.admin-header-image {
  --image-url: url(../../assets/admin-home-background.jpg);
  min-height: 40vw;
}
.admin-overlay {
  background: linear-gradient(rgba(20, 20, 20, 0.541), rgba(17, 17, 17, 0.548)),
    var(--image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.alert-warning {
  background-color: rgba(224, 132, 10, 0.389);
  color: rgb(60, 30, 0);
}
.item-background-image {
  --image-url: url(../../assets/item-background-image.jpg);
}
.item-overlay {
  background: linear-gradient(
      180deg,
      rgba(203, 203, 203, 0.837),
      rgba(242, 242, 242, 0.881)
    ),
    var(--image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-md {
  height: 70% !important;
}
.text-underline:hover {
  text-decoration: underline !important;
}
.link-hover:hover {
  color: rgb(116, 78, 6) !important;
  text-decoration: underline !important;
}
